.section {
	margin-bottom: var(--salt-spacing-400);
	display: flex;
	flex-direction: row;
	width: 100%;
}

.title {
	padding-bottom: var(--salt-spacing-200);
	width: 300px;
	flex-shrink: 0;
	z-index: -1;
}

.title::after {
	content: "";
	display: block;
	width: 50%;
	height: var(--salt-size-border);
	background-color: var(--salt-separable-primary-borderColor);
	margin-top: var(--salt-spacing-200);
}

.content {
	flex-grow: 1;
	margin-left: var(--salt-spacing-400);
	margin-top: var(--salt-spacing-200);
}

@media screen and (max-width: 959px) {
	.section {
		flex-direction: column;
		margin-bottom: var(--salt-spacing-200);
	}

	.title {
		padding-bottom: 0;
	}

	.content {
		margin-left: 0;
		margin-top: 0;
	}
}
